
body {
  font-family: 'Nosifer', cursive;
  background: #000;
  color: white;
  text-align: center;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin: 20px 0;
}

h1 {
  font-size: 4rem;
  font-family: 'Nosifer', cursive; 
}
h1 {
  position: relative;
}

h1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ff0000; /* Change the color as desired */
  box-sizing: border-box;
  transform: scale(0);
  transition: transform 0.2s;
}

h1:hover::after {
  transform: scale(1);
}


.eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.eye {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  background-color: #212121;
  margin: 20px;
}

.ball {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
 size: 24px;
  margin-bottom: 20px;
}

.enterButtonWrapper {
  margin-bottom: 10px;
}

.enterButton {
  font-size: 24px;
  background-color: #FF5722;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.enterButton:hover {
  background-color: #BF360C;
}

.meme {
  font-size: 24px;
  background-color: #FF5722;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.meme:hover {
  background-color: #BF360C;
}

.tricks {
  font-size: 24px;
  background-color: #FF5722;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tricks:hover {
  background-color: #BF360C;
}

.nav-item a {
  font-size: 1.2rem;
  font-family: 'Nosifer', cursive;
  color: #FF5722 !important;
}
.nav-link:hover {
  font-size: 23px;
 
}
.active>.nav-link {
  font-size: 1.2rem;
  font-family: 'Nosifer', cursive;
  color: #BF360C !important;
}



#image-gallery .modal-footer{
  display: block;
}

/* style for meme page */
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  flex: 0 0 calc(25% - 20px); /* Adjust the value to make the items smaller */
  border-radius: 10px;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}




.bigger-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.bigger-image img {
  max-width: 90%;
  max-height: 90%;
}

/* style for footer */
.footer-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-images a {
  display: inline-block;
  margin: 10px;
}

.footer-images img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
=======
/* styling for help page */
.brainContainer, .ghostbusterContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.brainWrapper, .ghostbusterWrapper{
  margin: 15vh auto;
  width: 70%;
}

.text-box{
  color: white;
}

.ghostbusterWrapper img{
  height: 50vh;
  width: 70%;
}

.enterButtonHelp button{
  visibility: hidden;
  background-color: #000;
  color: black;
  overflow: hidden;
}



