
body {
  font-family: 'Nosifer', cursive;
  background: #000;
  color: white;
  text-align: center;
}

header {
  margin: 20px 0;
}

h1 {
  font-size: 40px;
}

.eyes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.eye {
  width: 150px;
  height: 150px;
  position: relative;
  border-radius: 50%;
  background-color: #212121;
  margin: 20px;
}

.ball {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2 {
 size: 24px;
  margin-bottom: 20px;
}

.enterButtonWrapper {
  margin-bottom: 10px;
}

.enterButton {
  font-size: 24px;
  background-color: #FF5722;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.enterButton:hover {
  background-color: #BF360C;
}

.meme {
  font-size: 24px;
  background-color: #FF5722;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.meme:hover {
  background-color: #BF360C;
}

.tricks {
  font-size: 24px;
  background-color: #FF5722;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tricks:hover {
  background-color: #BF360C;
}




/* style for meme page */
.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}