
ul:not(.reasons li, .reasons, .nav-item, .navbar-nav, .bg-light, .helpLinks li, .helpLinks){
  margin-top: 50vh;
  padding: 0;
  /* display: flex; */
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

ul li:not(.reasons li, .nav-item, .navbar-nav, .bg-light, .helpLinks li){
  list-style: none;
  color: #980202;
  font-size: 5em;
  font-weight: bold;
  letter-spacing: 10px;
  filter: blur(1px);
  transition: 4s;
  display: inline-block;
}



li:not(.reasons li, .nav-item, .navbar-nav, .bg-light, .enterButtonHel, .helpLinks li):hover,
li:not(.reasons li, .nav-item, .navbar-nav, .bg-light, .helpLinks li):hover~li{
  transform: rotate(180deg)translateX(-200px);
  transition: 2s;
  filter: blur(20px);
  opacity: 0;
}
 
.imageContainer{
  margin-top: 70vh;
} 

ul img:not(.ghostbusterWrapper img, .footer-images img, .darknessIntoLightWrapper img, .brainWrapper img){
  height: 10vh;
  padding: 1vw;
  filter: brightness(30%);
}

.reasons{
  list-style-type: none;
} 


.brainContainer, .ghostbusterContainer, .darknessIntoLightContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  }
   .brainWrapper, .ghostbusterWrapper, .darknessIntoLightWrapper{
    margin: 15vh auto;
    width: 70%;
  }
  
  .text-box{
    color: white;
  }
  
  .ghostbusterWrapper img{
    height: 50vh;
    width: 70%;
  }
  
  .enterButtonHelp button{
    visibility: hidden;
    background-color: #000;
    color: black;
    overflow: hidden;
  }


.footer-images {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-images a {
  display: inline-block;
  margin: 10px;
}

.footer-images img {
  height: 50px;
  border-radius: 50%;
  width: 50px;
}


/* styling for help page */
.brainContainer, .ghostbusterContainer{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
  min-height: 100vh;
}

.brainWrapper, .ghostbusterWrapper{
  margin: 2vh auto;
  width: 70%;
}

.brainWrapper img {
  padding-bottom: 20px;
  margin-top: 30vh;
}

.text-box{
  color: white;
}

.ghostbusterWrapper img{
  padding-bottom: 10px;
  width: 70%;
}

.enterButtonHelp button{
  background-color: #000;
  color: black;
  overflow: hidden;
  visibility: hidden;
}

.reasons {
  list-style: none;
}

.helpLinks {
  list-style: none;
  margin-left: 20em;
  text-align: left;
}


/*Styling for helpppp page*/
.reasons {
  list-style: none;
}




