body{
    margin: 0;
    padding: 0;
    font-family: 'Nosifer', cursive;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.imageContainer{
    margin-top: 70vh;
}

#navbarNav{
    overflow: hidden;
    background: #fff;
    margin-top: -1vh;
}

.navbar-nav{
    display: flex;
    justify-content: space-evenly;
}

.nav-item{
    color: #000;
    text-align: center;
    list-style-type: none;
}


.brainContainer, .ghostbusterContainer, .darknessIntoLightContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  }
   .brainWrapper, .ghostbusterWrapper, .darknessIntoLightWrapper{
    margin: 5vh auto;
    width: 70%;
  }
  
  .text-box{
    color: white;
  }
  
  .ghostbusterWrapper img{
    height: 50vh;
    width: 70%;
  }
  
  .enterButtonHelp button{
    visibility: hidden;
    background-color: #000;
    color: black;
    overflow: hidden;
  }


.footer-images {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer-images a {
    display: inline-block;
    margin: 10px;
  }
  
  .footer-images img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .footer-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}
h2{
    text-align: center;
}

.brainWrapper img, .ghostbusterWrapper img, .darknessIntoLightWrapper img{
    margin-right: 2vw;
}

ul img{
    height: 10vh;
    padding: 1vw;
    filter: brightness(30%);
}